@import "normalize.css";

html, body, .content {
  height: 100%
}

.content {
  width: 100%;
}

.main-container {
  width: 720px;
  margin: 0 auto;
  height: 100%;
  background: #ababab;
  display: flex;
  flex-direction: row;
}

.names-container {
  width: 30%;
  border-right: solid 1px ;
}

.audios-container {
  flex-grow: 1;
}